body {
  font-family: 'Montserrat', sans-serif;
}

.custom-mobile-menu {
  border: none !important;
  box-shadow: none !important;
}

.card {
  border-radius: 2px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12) !important;
}
